@model ServerApp.Pages.App.Meal_Plans.MealViewModel
@using ServerApp.Pages.App.Meal_Plans

@{ 
    var recipe = @Model.Recipes.FirstOrDefault();
    var recipeLocation = recipe?.Other
        ?? (recipe?.BookName is { } ? $"{recipe.BookName} page {recipe.BookPage}" : null)
        ?? "";
    var url = recipe?.Url?.ToString() ?? "";
    var date = Model.Date;
    var startDate = Model.StartDate;
}


<div class="meal-edit" id=_@date>
    <p>@date</p>
    @if (url is { })
    {
        <h2 title="@recipe?.Name"><a href="@url">@recipe?.Name</a></h2>
    }
    else
    {
        <h2 title="@recipe?.Name">@recipe?.Name</h2>
    }
    <br>
    <div>
        <form class=inline method=post >
            <button asp-page-handler="cancel"
                    asp-route-id="@date"
                    asp-route-startDate=@startDate
                    >Cancel</button>&nbsp;
            <button asp-page-handler="previous"
                    asp-route-id="@date"
                    asp-route-startDate=@startDate
                    data-focus="@(Model.ChangeSource == ChangeSource.Previous)"
                    >&laquo; Back</button>&nbsp;
            @*<button formmethod=get formaction="/app/recipes/search?date=@date" asp-route-startDate=@startDate>Search</button>&nbsp;*@
            <button asp-page-handler="next"
                    asp-route-id="@date"
                    asp-route-startDate=@startDate
                    data-focus="@(Model.ChangeSource == ChangeSource.Next || Model.ChangeSource == ChangeSource.AddRecipe)"
                    >Next &raquo;</button>
        </form>
    </div>
</div>
