@model ServerApp.Pages.App.Meal_Plans.MealViewModel
@using ServerApp.Pages.App.Meal_Plans

@{
    var recipe = @Model.Recipes.FirstOrDefault();
    var recipeLocation = recipe?.Other
        ?? (recipe?.BookName is { } ? $"{recipe.BookName} page {recipe.BookPage}" : null)
        ?? "";
    var date = Model.Date;
    var startDate = Model.StartDate;
    var focusNext =
        (Model.ChangeSource.Source == ChangeSource.Next || Model.ChangeSource.Source == ChangeSource.AddRecipe)
		&& Model.ChangeSource.Date == Model.Date;
    var focusPrevious =
		Model.ChangeSource.Source == ChangeSource.Previous && Model.ChangeSource.Date == Model.Date;
}

<div class="meal-edit" data-highlight-draggable id=_@date>
    <p draggable=true>&#8803; @date</p>
    <partial name="_RecipeTitleTemplate" model="Model" />
    <br>
    <div>
        <form class=inline method=post >
            <button asp-page-handler="cancel"
                    asp-route-id="@date"
                    asp-route-startDate=@startDate
                    >Cancel</button>&nbsp;
            <a class=button
               asp-page="Search/Index"
               asp-route-date="@date"
               asp-route-returnurl="/app/meal-plans@(startDate is { } ? $"?startDate={startDate}" : "")"
			   >Search</a>&nbsp;
            <button asp-page-handler="previous"
                    asp-route-id="@date"
                    asp-route-startDate=@startDate
                    autofocus="@(focusPrevious)"
                    >&laquo; Back</button>&nbsp;
            <button asp-page-handler="next"
                    asp-route-id="@date"
                    asp-route-startDate=@startDate
                    autofocus="@(focusNext)"
                    >Next &raquo;</button>
        </form>
    </div>
</div>
